<header class="header">
  <img src="../../assets/img/logo.png" alt="Nexter Logo" class="header__logo">
  <h3 class="heading-3">Your Own Home:</h3>
  <h1 class="heading-primary">The Ultimate Personal Freedom</h1>
  <button class="btn header__btn">View Our Properties</button>
  <div class="header__seen-on-text">Seen On</div>
  <div class="header__seen-on-logos">
    <img src="../../assets/img/logo-bbc.png" alt="Seen on Logo 1" class="header__logo">
    <img src="../../assets/img/logo-forbes.png" alt="Seen on Logo 1" class="header__logo">
    <img src="../../assets/img/logo-techcrunch.png" alt="Seen on Logo 1" class="header__logo">
    <img src="../../assets/img/logo-bi.png" alt="Seen on Logo 1" class="header__logo">
  </div>

</header>
