@import '../../assets/scss/abstracts/variables';

:host {
  //background-color: $color-grey-light-2;
  grid-column: center-start / center-end;
}

.section-features {
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
}
