@import '../abstracts/variables';
@import '../abstracts/mixins';

%heading {
  font-family: $font-display;
  font-weight: 400;
}

// Add font related styles here
body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.heading-primary {
  @extend %heading;
}

.heading-secondary {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light { color: $color-grey-light-1; }
  &--dark { color: $color-grey-dark-1; }
}

.heading-tertiary {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light { color: $color-grey-light-1; }
  &--dark { color: $color-grey-dark-1; }
}

.paragraph {

}

.btn {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background-color: $color-primary-dark;
  }
}
