<section class="homes">
  Homes
</section>

<!--
EMMET CODE FOR CARDS
.home*6>img.home__img[src=img/house-$.jpeg]+svg.home__like>use[xlink:href=img/sprite.svg#icon-heart-full]^h5.home__name{Good Home}+.home__location>svg>use[xlink:href=img/sprite.svg#icon-map-pin]^p{World}^.home__rooms>svg>use[xlink:href=img/sprite.svg#icon-profile-male]^p{5 rooms}^.home__area>svg>use[xlink:href=img/sprite.svg#icon-expand]^p{325 m}>sup{2}^^.home__price>svg>use[xlink:href=img/sprite.svg#icon-key]^p{1,200,000}^button.btn.home__btn{Contact Realtor}
-->
